<%= javascript_include_tag 'trip_show_map' %>
<script type="text/javascript">
  var waypoints = <%= @waypoints.to_json.html_safe %>;
</script>

<%= @trip.title %></br>
<%= @trip.summary %></br>
<div class="rule"></div>
<div id="total"> </div>
<div>
  <b>Mode of Travel: </b>
  <select id="mode" onchange="calcRoute();">
    <option value="DRIVING">Driving</option>
    <option value="WALKING">Walking</option>
    <option value="BICYCLING">Bicycling</option>
  </select>
</div>
<div id="directionsPanel" > </div>
<div id="map_canvas"> </div>

