<div class="columns tripcols">
  <div class="first">
    <%= @trip.title %></br>
    <%= @trip.summary %></br>
  </div>
  <div class="last">
    <ul class="stats">
      <li class="incrementable miles_per_day">
      <strong><%=distance_to_human(@trip.average_distance)%></strong>
      <span>miles / day</span>
      </li>

      <li class="incrementable rest_days">
      <strong>0</strong>
      <span>rest days</span>
      </li>

      <li class="incrementable traveling_days">
      <strong><%=@trip.days.length%></strong>
      <span>days traveling</span>
      </li>
    </ul>
  </div>
</div>

