#trip_days_wrap {
  position: absolute;
  left: 0;
  width:35%;
  height: 100%;
  overflow: auto;
  z-index: 2;
  .index, .location, .distance, .total, .modify {
    text-align: left;
    float:left;
    padding:3px;
  }
  .day_row {
  width:430px;
  clear:both;
    overflow: hidden;
  }
  .index {
    width: 20px;
  }
  .distance {
    width: 60px;
    text-align:right;
  }
  .total {
    width: 65px;
    text-align:right;
  }
  .location {
    width: 160px;
  }
  div.day_row:nth-child(2n+1) {
    background: #eee;
  }
  div.day_row:hover {
    background: #ccc;
  }
}
.highlighted {
  background: #ccc !important;
}
.day_row.selected {
  //border: 1px solid blue !important;
  background: pink !important;
}
.day_details {
  padding: 0 5px;
  border: 1px solid;
  width: 270px;
}
#new_day {
  #new_location {
    margin-left:20px;
    float:left;
  }
  #new_distance, #new_total {
    width:60px;
    text-align:right;
    float:left;
  }
}
