@import 'reset';
@import 'headfoot';
@import 'd3';
@import 'days/index';
@blue: #4D90FE;
@gray: #f5f5f5;
@footer_height: 76px;
html, body {height: 100%;}
#wrap {min-height: 100%;}
#content {
  overflow:auto;
  padding-bottom: @footer_height;
  width:1000px;
  margin: 0 auto;
} 

footer {
  position: relative;
  margin-top: -@footer_height; /* negative value of footer height */
  height: @footer_height;
  clear:both;
  background:black;
  color:white;
  copyright {
    clear: both;
  }
} 

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

.clear {
  clear:both;
}
.rule {
  clear: both;
  margin: 15px 0;
  height: 0;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
}
.columns.profilecols .first, .last {
  float: left;
  width: 450px;
}
.columns.tripcols {
  .first {
    float: left;
    width: 450px;
  }
  .last {
    float: right;
    width: 450px;
    ul.stats li {
      float: right;
      margin: 0 15px;
    }
  }
}
.miles_per_day, .rest_days, .traveling_days {
  dl {
    dd, dt {
      float: left;
      margin: 0 5px;
    }
  }
}
.vcard dl:first-child {
  margin-top: 0;
}
.vcard dl {
  margin: 5px 0 0 0;
  font-size: 12px;
  dt {
    margin: 0;
    float: left;
    width: 115px;
    color: #999;
  }
  dd {
    margin: 0;
  }
}
ul.stats {
  margin: -8px 0 0 0;
  li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
    strong {
      display: block;
      font-size: 36px;
      font-weight: bold;
      color: black;
    }
    span {
      display: block;
      margin-top: -10px;
      font-size: 11px;
      color: #999;
    }
  }
}
.following {
  clear: both;
  margin-top: 80px;
  h3 {
    margin: 0 0 5px 0;
    font-size: 12px;
    a {
      font-weight: normal;
      margin-left: 5px;
    }
  }
}
.following ul.avatars {
  margin: 0;
  li {
    list-style-type: none;
    display: inline;
    margin: 0 1px 0 0;
    img {
      padding: 1px;
      border: 1px solid #DDD;
    }
  }
}
.profilecols h2 {
  position: relative;
  font-size: 18px;
  margin: 0 0 5px 0;
  em {
    font-style: normal;
    color: #999;
  }
}
ul.repositories {
  margin: 0;
  > li.public {
    background: url('../../images/icons/public.png') 6px 9px no-repeat;
  }
  > li {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 8px 10px 0 10px;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}

//Day CSS

#map_canvas {
  width: 65%;
  height: 75%;
  float: right;
}
#day {
  float: left;
  overflow: hidden;
  width:90%;
  margin: 0 5% 19px;
  border-bottom: 1px solid #CCC;
  padding-bottom: 12px;
}
#topbar {
  width: 35%;
  position: absolute;
  left: 0;
  z-index: 3;
  border-bottom: 1px solid #ddd;
  background: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(white));
}
#day_nav {
  //padding: 0 40% 10px 40%;
  padding-left: 34px;
  margin: 0.75em 5%;
}
#foursquare {
  clear: both;
  padding-left: 34px;
  margin: 0.75em 5%;
}
#detail_panel {
  position: absolute;
  left: 0;
  width:35%;
  height: 100%;
  overflow: auto;
  margin-top: 5.5em;
  z-index: 2;
}
#VENUES_details {
  margin: 15px; 
  .venue {
    :hover {
      background: blue;
    }
  }
}
#TAGS_details { 
}
.clear {
  clear: both;
  overflow: hidden;
  position: relative;
}

.tag_item, .live_item {
  float: left;
  margin: 5px;
  :hover {
    cursor: pointer;
  }
}  
.tag_stats {
  position: absolute;
  z-index: 1;
  background: white;
  background-color: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#D0D0D0));
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  //border-bottom-right-radius: 50px 25px;
  //border-bottom-left-radius: 50px 25px;
  //border-top-right-radius: 10px 50px;
  //border-top-left-radius: 10px 50px;
  ul {
  }
  li {
  }
}
.stat_col {
  float: left;
  padding: 2px;
}
.tag_unused {
  opacity: 1;
}
.tag_used {
  opacity: .5;
}
#directionsPanel {
  width: 90%;
  height: 75%;
  margin: 0 5%;
  float: left;
  clear: both;
}
#elevation_chart {
  position: absolute;
  bottom: @footer_height;
  right: 5px;
  height: 100px; 
  display: block;
  overflow: hidden;
}
.travel_icons, .detail_nav_icons {
  clear: both;
  margin: 0.75em 5%;
  padding-left: 34px;
  :hover {
    //background: -webkit-gradient(linear,left top,left bottom,from(#357AE8),to(#d0d0d0));
    background: rgba(53,122,232,0.5);
    
  }
  li {
    float: left;
    margin: 3px 6px 3px 3px;
    padding: 0 16px;
    -webkit-border-radius: 3px;
    box-shadow: inset 1px 1px 8px rgba(0,0,0,0.2);
    :hover {
      background:none;
    }
  }
}
.neighbor_days {
  margin: 6px 0;
}
.icon {
  text-align: center; 
}
.prev_day, .next_day {
  padding-left: 18px;
}
.field {
  width: 100%;
}
dl {
  clear: both;
}
dt, dd {
  float: left;
}
#stop_locations input {
  margin: 3px 0 8px 18px;
  padding: 4px;
  font-size: 100%;
  width: 100%;
}
.selected {
  background: red;
  //background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
  //background-image: -moz-radial-gradient(#4D90FE, #4787ED);
  //background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 35, from(@blue), to(saturate(@blue, 5%)));
  background: -webkit-gradient(linear,left top,left bottom,from(#ddd),to(#d0d0d0));
  background: -moz-linear-gradient(top,#DD4B39,#D14836);
}
.unselected {
  background: #cccccc;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -moz-linear-gradient(top,#DD4B39,#D14836);
}
#day_submit {
  float:right;
}

#legend {
  width: 500px;
  height: 20px;
  background-image: -webkit-gradient(
    linear,
    left center,
    right center,
    color-stop(0.0, #7F00FF),
    color-stop(1.0, #7FFF00)
  );
}

