<%= javascript_include_tag 'elevation_test' %>
<%= javascript_include_tag 'map_day_shared' %>

<h1> Create a home page </h1>
<div style="width: 500px; height: 250px; margin: 50px;position:relative">
  <div id="elevation_chart"></div>
</div>
